*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-image: url(../img/fundo1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 15%;
    transition: 1s linear;
}

.container{

    max-width: 600px;
    margin:0 auto;
    padding: 0 25px;
}

:root{
    --marginButton:0; 
}

/*Perfil claro*/

.claro{

    background-image: url(../img/Desktop\ -\ 5.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    top: 0;
    --marginButton:60px;
}

.claro #botao button{

    background: #696969 url(../img/Vector.svg) no-repeat center;
   
}

.claro .list ul li{

    background-color: #4C2134;
}


/*configurando perfil*/

.profile{

    text-align: center;
    padding: 25px;
  
}

.profile img{

    width: 100px;
}

.profile p{

    color: white;
    margin-top: 15px;
    font-weight: 900;
}

#botao{

    position: relative;
    width: 70px;
    margin: 0 auto;
    
}

#botao button{

    background: #800000 url(../img/venom.svg) no-repeat center;
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
    border-radius: 50%;
    border: 0;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: var(--marginButton);
    transition: ease-in-out 0.5s;
}

#botao button:hover{

    outline: 7px solid rgba(225, 225, 225, 0.3);

}

#botao span{

    display: block;
    width: 100px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 100px;
}

.list{

    display: flex;
    justify-content: center;
}

.list li{
    text-align: center;
    padding-top: 10px;
    color: white;
}

.list ul li{
    margin-top: 20px;
    background-color: rgb(128,0,0);
    border-radius: 5px;
    width: 400px;
    height: 40px;
    list-style: none;
}
 
.list ul :hover{

    outline: 7px solid rgba(128,0,0, 0.3);
    transform: scale(1.1);
}

.redesSociais{

    font-size: 35px;
    color: white;
    padding-left: 75px;
    padding-top: 100px;
}

.redesSociais ul li{

    list-style: none;
    display: inline-block;
    margin: 20px;
}

.redesSociais ul :hover{

    transform: scale(1.2);
}
